{{set . "title" "Board"}}
{{append . "moreScripts" "js/revel_board.js?20171202"}}
{{template "header.html" .}}

<div class="ui container">
  <header class="ui inverted vertical masthead center aligned segment">
    <div class="ui text container">
      <h1 class="ui inverted header">{{.service}}</h1>
    </div>
  </header>
  
  <div style="margin-top: 2em;"></div>
  <div class="ui centered grid">

    <div class="ui secondary vertical menu three wide column">
      <a class="active item" href="http://localhost:9000">投稿</a>
      <a class="item" href="http://localhost:9000/trashed">ごみ箱</a>
    </div>
  
    <div class="nine wide column">
      <div class="ui comments">
        <h2 class="ui header">これまでの投稿</h2>
        {{range .comments}}
        <div class="comment">
          <div class="content">
            <a class="author">{{.Nickname}}</a>
            <div class="metadata">
              <span class="date">{{.CreatedAt}}</span>
            </div>
            <div class="text">
              {{.Body}}
            </div>
          </div>
        </div>
      {{end}}
      </div>
    </div>
  
    <div class="four wide column">
      <h2 class="ui header">新規投稿</h2>
      <div class="ui error message" style="display:none;">
        <i class="close icon"></i>
        <div class="header">
          There were some errors with your submission
        </div>
        <ul class="list">
        </ul>
      </div>
      <form class="ui form revel-form">
        <div class="field">
      	{{with $field := field "myName" .}}
          <label>名前</label>
          <input type="text" name="{{$field.Name}}" value="{{$field.Flash}}" />
        {{end}}
        </div>
  
        <div class="field">
      	{{with $field := field "body" .}}
          <label>内容</label>
          <textarea name="{{$field.Name}}" value="{{$field.Flash}}" rows=2></textarea></td>
    	  {{end}}
        </div>
  
        <div class="field">
          <button class="ui teal button" type="submit">Submit</button>
        </div>
      </form>
    </div>

  </div>

</div>

{{template "footer.html" .}}
